h5.author{
    
    font-size: 18px;
    font-family: 'RobotoSlab Medium';
}
/*
h1,h2,h3,h4,h5{
    font-family: 'OpenSans';
}
*/

p {
    font-family: 'Lato Regular';
    font-size: 18px;
    
    margin-bottom: 2rem;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*
h1.heading{
    font-size: 30px !important;
}
*/
.secondfont, .heading {
    font-family: 'RobotoSlab Medium' !important;
}
.heading{
    color: #0A91AB;
}

a.nav-link{
    font-size: 16px !important;
    color: #0A91AB !important;
    font-family: 'RobotoSlab Medium' !important;
}
a.nav-link:hover{
    font-size: 16px !important;
    text-decoration: underline;
}
body{
    /*font-family: "Gudea";*/
    padding-top: 80px;
    background-color: #f8fafc;
}

.shadow-primary{
    box-shadow:.125rem .125rem .25rem rgba(10, 145, 171,.5)!important
}

p.card-text {
    font-family: 'Lato Regular';
    font-size: 18px;
}
/*
p.card-text{
    font-size: 20px !important;
}
*/
.card-title{
    font-family: 'RobotoSlab Medium';
    font-size: 26px;
    
}

blockquote {
    font-family: 'PlayfairDisplay-Medium';
    font-size: 30px !important;
    color: white;
}
.blockquote-footer {
    display: block;
    font-size: 16px !important;
    color: white;
}
.py-0 {
    padding-top: 0 !important;
}
        
.unsrink{
    min-height: 50px !important;
    transition: 0.5s;

}
.navbar{
    min-height: 80px;
    transition: 0.5s;
}
.size-standar{
    font-size: 18px;
    line-height: 1.8rem;
}
.article-post{
    font-size: 20px;
    
}

a {
    color: #0A91AB !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a.url:hover{
    /*
    font-size: 100px;
    color: #0A91AB; 
    */
    text-decoration: underline;
}

a.url{
    text-decoration: none;
    color: #0A91AB;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    /* color: #0A91AB !important; */
    color: #0A91AB !important;
    font-family: 'OpenSans';
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; 
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

.spanborder {
    margin-bottom: 1rem;
}

.spanborder span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: -1px;
}

            
.bg-primary { 
    background: #77A9BC !important;
}

.btn-primary{ 
    background: #77A9BC !important;
    border-color: #77A9BC !important;
}

a.stretched-link{
    color: #0A91AB !important;
}

a.stretched-link:hover{
    color: #0A91AB !important;
    text-decoration: none;
}
.bg-kuning {
    background: #FFC045 !important;
}

.teks-biru {
    color: #0A91AB !important;
}

p.tldr{
    font-size: 22px;
}

pre {
    display: block;
    background: rgba(0, 0, 0, 0.05);
    padding: 20px;
    
    /*
    font-family: "Libre";
    white-space: pre;
    margin: 1em 0px;
        padding: 20px;
    font-size: 16px !important; background: rgba(0, 0, 0, 0.05);
    */
   

}
h1, h2, h3, h4, h5, h6 {
    font-family: 'RobotoSlab Medium' !important;
}

