/* Nunito */
@font-face {
  font-family : 'Lato Regular';
  src : url('./Lato/Lato-Regular.ttf');
}

@font-face {
  font-family : 'RobotoSlab Medium';
  src : url('./Roboto_Slab/static/RobotoSlab-Regular.ttf');
}
